<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->


    <link rel="stylesheet" href="../../static/css/AdminLTE.css" th:href="@{../../static/css/AdminLTE.css}">
    <link rel="stylesheet" href="../../static/css/_all-skins.min.css" th:href="@{../../static/css/_all-skins.min.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{../../static/css/style.css}">
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.min.css" th:href="@{../../static/css/bootstrap/bootstrap.min.css}">

    <script type="text/javascript" src="../../static/js/plugins/jquery-1.11.3.min.js" th:src="@{../../static/js/plugins/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" src="../../static/js/plugins/bootstrap.min.js" th:src="@{../../static/js/plugins/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../static/js/plugins/app.min.js" th:src="@{../../static/js/plugins/app.min.js}"></script>
    <!-- 引入angular的js -->
    <script type="text/javascript" src="../../static/js/plugins/angular.min.js" th:src="@{../../static/js/plugins/angular.min.js}"></script>

    <!-- 引入分页相关的JS和CSS -->
<!--    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>-->
<!--    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">-->
	<script type="text/javascript" th:src="@{../../static/js/pages/product.js}" src="../../static/js/pages/product.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="mall"  onload="getProductList()" >
  <!-- .box-body -->
                
  <div class="box-header with-border">
                        <h3 class="box-title">商品管理</h3>
                    </div>

  <div class="box-body">

	  <!-- 数据表格 -->
	  <div class="table-box">

		  <!--工具栏-->
		  <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <a href="/shop/goodsEdit"  class="btn btn-default">新建</a>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="提交审核" ><i class="fa fa-check"></i> 提交审核</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
		  <div class="box-tools pull-right">
                                <div class="has-feedback">
                                  		状态：<select ng-model="searchEntity.auditStatus" id="select">
                                         	<option value="" name="scope">全部</option>
                                         	<option value="0" name="scope">未申请</option>
                                         	<option value="1" name="scope">审核通过</option>
                                         	<option value="2" name="scope">审核未通过</option>
                                        </select>
							                  商品名称：<input type="text" id="productName" name="productName">
									<button class="btn btn-default" onclick="getProductList()">查询</button>
                                </div>
                            </div>
		  <!--工具栏/-->

		  <!--数据列表-->
		  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">分类</th>
									      <th class="sorting">状态</th>									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody  id="goods">
			                      </tbody>
			                  </table>
		  <!--数据列表/-->
							  
							 
	  </div>
	  <!-- 数据表格 /-->
	  <!-- 分页 -->
	  <tm-pagination conf="paginationConf"></tm-pagination>
                        
  </div>
  <!-- /.box-body -->
		
</body>

</html>