<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>foot</title>
</head>
<body>
<div class="Mod-copyright">
    <ul class="helpLink">
        <li>关于我们<span class="space"></span></li>
        <li>联系我们<span class="space"></span></li>
        <li>关于我们<span class="space"></span></li>
        <li>商家入驻<span class="space"></span></li>
        <li>营销中心<span class="space"></span></li>
        <li>友情链接<span class="space"></span></li>
        <li>关于我们<span class="space"></span></li>
        <li>营销中心<span class="space"></span></li>
        <li>友情链接<span class="space"></span></li>
        <li>关于我们</li>
    </ul>
    <p>地址:四川省成都市中心大道二段一号成都工业学院 邮编：611730 电话：xxx-xxx-xxxx 传真：xxx-xxxxxxxx</p>
</div>
</body>
</html>