<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>办公用品电子商城</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-jquery.autocomplete.css" th:href="@{../../static/css/widget-jquery.autocomplete.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/widget-cartPanelView.css" th:href="@{../../static/css/widget-jquery.autocomplete.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-JD-index.css" th:href="@{../../static/css/pages-JD-index.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/webbase.css" th:href="@{../../static/css/webbase.css}">
    <script type="text/javascript" src="../../static/js/plugins/jquery-1.11.3.min.js" th:src="@{../../static/js/plugins/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{../../static/js/pages/view-index.js}" src="../../static/js/pages/view-index.js"></script>
    <script type="text/javascript" th:src="@{../../static/js/pages/view-index.js}" src="../../static/js/pages/view.js"></script>

</head>

<body onload="load()">
<div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item">办公用品电子商城欢迎您！</li>
                        <li class="f-item" id="loginUser">请<a th:href="@{/login}" target="_blank" >登录</a>　<span><a th:href="@{/register.html}" target="_blank">免费注册</a></span></li>
                    </ul>
                    <ul class="fr">
                        <li class="f-item">我的订单</li>
                        <li class="f-item space"></li>
                        <li class="f-item"><a href="home.html" target="_blank">我的商城</a></li>
                        <li class="f-item space"></li>
                        <li class="f-item">商城会员</li>
                        <li class="f-item space"></li>
                        <li class="f-item">企业采购</li>
                        <li class="f-item space"></li>
                        <li class="f-item">关注</li>
                        <li class="f-item space"></li>
                        <li class="f-item" id="service">
                            <span>客户服务</span>
                            <ul class="service">
                                <li><a href="cooperation.html" target="_blank">合作招商</a></li>
                                <li><a href="../shop/shoplogin.html" target="_blank">商家后台</a></li>
                                <li><a href="cooperation.html" target="_blank">合作招商</a></li>
                                <li><a href="#">商家后台</a></li>
                            </ul>
                        </li>
                        <li class="f-item space"></li>
                        <li class="f-item">网站导航</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--头部-->
<div class="header">
    <div class="py-container">
        <div class="yui3-g Logo">
            <div class="yui3-u Left logoArea">
                <a class="logo-bd" title="办公用品电子商城" th:href="@{http://localhost:8081/}" target="_blank"></a>
            </div>
            <div class="yui3-u Center searchArea">
                <div class="search">
                    <form th:action="@{http://localhost:8081/}" class="sui-form form-inline">
                        <!--searchAutoComplete-->
                        <div class="input-append">
                            <input type="text" id="keywords" name="keywords" ng-model="keywords" class="input-error input-xxlarge">
                            <button class="sui-btn btn-xlarge btn-danger" onclick="search()" type="button">搜索</button>
                        </div>
                    </form>
                </div>
                <div class="hotwords">
                    <ul>
                        <li class="f-item">商城首发</li>
                        <li class="f-item">亿元优惠</li>
                        <li class="f-item">9.9元团购</li>
                        <li class="f-item">每满99减30</li>
                        <li class="f-item">亿元优惠</li>
                        <li class="f-item">9.9元团购</li>
                        <li class="f-item">办公用品</li>

                    </ul>
                </div>
            </div>
            <div class="yui3-u Right shopArea">
                <div class="fr shopcar">
                    <div class="show-shopcar" id="shopcar">
                        <span class="car"></span>
                        <a class="sui-btn btn-default btn-xlarge" href="http://localhost:8081/cart.html" target="_blank">
                            <span>我的购物车</span>
                            <i class="shopnum">0</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="yui3-g NavList">
            <div class="yui3-u Left all-sort">
                <h4>全部商品分类</h4>
            </div>
            <div class="yui3-u Center navArea">
                <ul class="nav">
                    <li class="f-item">数码系列</li>
                    <li class="f-item">桌面用品</li>
                    <li class="f-item">电脑耗材</li>
                    <li class="f-item">全球购</li>
                    <li class="f-item">闪购</li>
                    <li class="f-item">团购</li>
                    <li class="f-item">有趣</li>
                </ul>
            </div>
            <div class="yui3-u Right"></div>
        </div>
    </div>
</div>
<!--列表-->
<div class="sort">
    <div class="py-container">
        <div class="yui3-g SortList ">
            <div class="yui3-u Left all-sort-list" style="height: 270px;">
                <div class="all-sort-list2">
                    <div class="item bo">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp数码系列</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp电脑耗材</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp办公用纸</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp办公用笔</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp桌面用品</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp文件夹册</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp装订用品</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbspIT&nbsp&nbsp耗材</a></h3>
                    </div>
                    <div class="item">
                        <h3><a href="http://localhost:8081/">&nbsp&nbsp&nbsp&nbsp办公家具</a></h3>
                    </div>
                </div>
            </div>

            <div class="yui3-u Center banerArea">
                <!--banner轮播-->
                <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                    <ol class="carousel-indicators">
                        <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
                        <li data-target="#myCarousel" data-slide-to="0" class="active" ng-repeat="item in contentList[1]"></li>
                    </ol>
                    <div  class="carousel-inner">
                        <!--<a href="http://localhost:8081/%7B%7Bitem.url%7D%7D">-->
                        <img src="../../static/img/1.png" width="730" height="270">
                        <!--</a>-->
                    </div>
                </div><a href="http://localhost:8081/#myCarousel" data-slide="prev" class="carousel-control left">‹</a><a href="http://localhost:8081/#myCarousel" data-slide="next" class="carousel-control right">›</a>
            </div>
            <div class="yui3-u Right">
                <div class="news">
                    <h4><em class="fl">商城快报</em><span class="fr tip">更多 &gt;</span></h4>
                    <div class="clearix"></div>
                    <ul class="news-list unstyled">
                        <li>
                            <span class="bold">[特惠]</span>备战开学季 全民半价购数码
                        </li>
                        <li>
                            <span class="bold">[公告]</span>备战开学季 全民半价购数码
                        </li>
                        <li>
                            <span class="bold">[特惠]</span>备战开学季 全民半价购数码
                        </li>
                        <li>
                            <span class="bold">[公告]</span>备战开学季 全民半价购数码
                        </li>
                        <li>
                            <span class="bold">[特惠]</span>备战开学季 全民半价购数码
                        </li>
                        <li>
                            <span class="bold">[特惠]</span>备战开学季 全民半价购数码
                        </li>
                        <li>
                            <span class="bold">[特惠]</span>备战开学季 全民半价购数码
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--推荐-->
<div class="show">
    <div class="py-container">
        <ul class="yui3-g Recommend">
            <li class="yui3-u-1-6  clock">
                <div class="time">
                    <img src="../../static/img/clock.png" width="57px" height="57px"/>
                    <h3>今日推荐</h3>
                </div>
            </li>
            <li class="yui3-u-5-24">
                <a href="list.html" target="_blank"><img style="width: 249px; height: 165px" th:src="@{../../static/img/20190523210205.jpg}" /></a>
            </li>
            <li class="yui3-u-5-24">
                <img style="width: 249px; height: 165px" th:src="@{../../static/img/20190523210322.jpg}" />
            </li>
            <li class="yui3-u-5-24">
                <img style="width: 249px; height: 165px" th:src="@{../../static/img/20190523210333.jpg}" />
            </li>
            <li class="yui3-u-5-24">
                <img style="width: 249px; height: 165px" th:src="@{../../static/img/20190523210239.jpg}" />
            </li>
        </ul>
    </div>
</div>
<!--商品展示-->
<div class="like">
    <div class="py-container">
        <div class="title">
            <h3 class="fl">商品展示区</h3>
            <b class="border"></b>
            <a href="javascript:;" class="fr tip changeBnt" id="xxlChg"><i></i></a>
        </div>
        <div class="bd">
            <ul class="clearfix yui3-g Favourate picLB" id="picLBxxl">
            </ul>

        </div>
    </div>
</div>
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">
            <div class="Mod-service">
                <ul class="Mod-Service-list">
                    <li class="grid-service-item intro  intro1">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>正品保障</h4>
                            <p>正品保障，提供发票</p>
                        </div>

                    </li>
                    <li class="grid-service-item  intro intro2">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>正品保障</h4>
                            <p>正品保障，提供发票</p>
                        </div>

                    </li>
                    <li class="grid-service-item intro  intro3">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>正品保障</h4>
                            <p>正品保障，提供发票</p>
                        </div>

                    </li>
                    <li class="grid-service-item  intro intro4">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>正品保障</h4>
                            <p>正品保障，提供发票</p>
                        </div>

                    </li>
                    <li class="grid-service-item intro intro5">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>正品保障</h4>
                            <p>正品保障，提供发票</p>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="clearfix Mod-list">
                <div class="yui3-g">
                    <div class="yui3-u-1-6">
                        <h4>购物指南</h4>
                        <ul class="unstyled">
                            <li>购物流程</li>
                            <li>会员介绍</li>
                            <li>生活旅行/团购</li>
                            <li>常见问题</li>
                            <li>购物指南</li>
                        </ul>

                    </div>
                    <div class="yui3-u-1-6">
                        <h4>配送方式</h4>
                        <ul class="unstyled">
                            <li>上门自提</li>
                            <li>211限时达</li>
                            <li>配送服务查询</li>
                            <li>配送费收取标准</li>
                            <li>海外配送</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>支付方式</h4>
                        <ul class="unstyled">
                            <li>货到付款</li>
                            <li>在线支付</li>
                            <li>分期付款</li>
                            <li>邮局汇款</li>
                            <li>公司转账</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>售后服务</h4>
                        <ul class="unstyled">
                            <li>售后政策</li>
                            <li>价格保护</li>
                            <li>退款说明</li>
                            <li>返修/退换货</li>
                            <li>取消订单</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>特色服务</h4>
                        <ul class="unstyled">
                            <li>夺宝岛</li>
                            <li>DIY装机</li>
                            <li>延保服务</li>
                            <li>品优购E卡</li>
                            <li>品优购通信</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>帮助中心</h4>
                        <img src="img/wx_cz.jpg">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>